.map-size {
  height: 100vh;
  
  }
  body {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
  }

  .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 85vh; */
    padding-top:65px;
    padding-bottom: 30px;
  }

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";